    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mainmenu-area">
            <div class="container">
                <a class="navbar-brand wow fadeInDownBig" title="Concordia University Wisonsin" href="https://www.cuw.edu/"><img alt="Concordia University Wisconsin" src="img/logo-black.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <i class="lnr lnr-menu"></i> </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                        {%- for path in page_paths -%}
                        {%- assign my_page = site.pages | where: "path", path | first -%}
                        {%- if page.title -%}
                        <li class="nav-item active wow fadeInDownBig"> <a class="nav-link page-scroll" href="#"></a> </li>
                        {%- endif -%}
                        {%- endfor -%}
                        <li class="nav-item active wow fadeInDownBig"><a class="nav-link page-scroll" href="#">{{ my_page.title | escape}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {{ page.banner }}
    </header>
    <!-- Header Section End -->
